@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;700&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Baloo Bhaijaan 2', cursive;
}

input {
    font-family: 'Baloo Bhaijaan 2', cursive;
}

.root {
    width: 100%;
}

.App {
    margin: 100px auto;
    padding: 20px;
    width: 90%;
    max-width: 1000px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


h1 {
    text-align: center;
    margin: 30px;
}

.Todo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add-todo--form {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.add-todo__input {
    flex-basis: 80%;
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #000000;
    padding: 13px;
    border-radius: 30px;
    font-size: 14px;
    color: white;
}

.add-todo__input::placeholder {
    color: white;
    opacity: 0.5;
}
.add-todo__input:focus {
    outline: rgb(0, 0, 0) 1px solid;
    border: white 1px solid;
}

.add-todo__button {
    height: 50px; width: 50px;
    display: flex; justify-content: center; align-items: center;
    border-radius: 50%;
    border: none;
    background-color: rgb(255, 26, 57);
    cursor: pointer;
}

.add-todo__button:hover {
    background-color: rgb(230, 23, 50);
}

.plus-icon {
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
}

/* todo list */
.list-section {
    margin: 50px auto;
    width: 100%;
    max-width: 700px;
}

.todo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

.todo-number {
    background-color: rgb(61, 61, 61);
    color: white;
    height: 30px; width: 30px;
    font-size: 0.7rem;
    border-radius: 50%;
    display: flex; justify-content: center; align-items: center;
}

.todos {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 8px;
    border-radius: 30px;
    font-size: 14px;
    color: white;
    margin: 0 10px;
    width: 60%;
}
.todos.read {
    background-color: black;
}

.todos.write {
    background-color: rgb(83, 83, 83);
}

/* edit button */
.edit-button, .remove-button {
    height: 40px; width: 40px;
    display: flex; justify-content: center; align-items: center;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.edit-button.read {
    background-color: rgb(255, 26, 57);
    margin-right: 5px;
}
.edit-button.read:hover {
    background-color: rgb(230, 23, 50);
}
.edit-button.write {
    background-color: rgb(21, 184, 108);
    margin-right: 5px;
}
.edit-button.write:hover {
    background-color: rgb(11, 160, 90);
}
.remove-button {
    background-color: #f1cc26;
}
.remove-button:hover {
    background-color: #d3b21e;
}
.edit-icon {
    font-size: 1.3rem;
    font-weight: 700;
}
.close-icon {
    font-size: 1.3rem;
    font-weight: 700;
}

@media screen and (max-width: 480px) {
    .App {
        padding: 10px;
    }
    .add-todo__button {
        height: 35px; width: 35px;
    }
    .edit-button, .remove-button {
        height: 30px; width: 30px;
    }
    .edit-icon {
        font-size: 1rem;
        font-weight: 700;
    }
    .close-icon {
        font-size: 1rem;
        font-weight: 700;
    }
}
